.container{
    width: 500px;
    text-align: center;
    margin-top :20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: burlywood;

}
.table{
    margin-top: 30px;
}
.form-control{
    margin-bottom: 5px;
} 
.btn{
    border: solid 1px;
    width: 100%;
}
.selecionado{
    background-color: cadetblue;
}
.tema{
    background-color: lightcoral;
}